
.home__do{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.do__title{
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
    font-size: var(--medium-font-size);
}

.do__subTitle{
    color: var(--title-color-dark);
    font-weight: var(--font-semi-bold);
    font-size: var(--big-font-size);
    line-height: 5rem;
    padding-right: 8rem;
}


/* Info section */

.home__info{
    grid-template-columns: repeat(3, 1fr);
}


.info__img-left{
    width: 0;
    height: 0;
    border-top: 250px solid var(--first-color);
    border-right: 300px solid transparent;
}

.info__img-right{
    width: 0;
    height: 0;
    border-bottom: 250px solid var(--first-color);
    border-left: 300px solid transparent;
    justify-self: end;
}

.info__content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.info__content-title{
    color: var(--first-color);
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
}

/* .info__content-text{ //No hace nada
    
} */

/* Technologies */
.home__technologies{
    padding: 2rem 2rem;
    margin: 2rem 0;
    background-color: var(--bg-color-gray);
}

.technologies__title{
    margin-bottom: 2rem;
    color: var(--first-color);
    font-weight: var(--font-semi-bold);
}

.technologies__content{
    grid-template-columns: repeat(4, 20%);
}

.technologies__content-item{
    width: 15rem;
    justify-self: center;
}




/* ======== Break points ======== */
/* Large devices */
@media screen and (max-width: 992px) {
    .technologies__content{
        grid-template-columns: repeat(2, 1fr);
    }

    .img-left{
        border-top: 350px solid var(--first-color);
        border-right: 250px solid transparent;
    }
    
    .info__img-right{
        border-bottom: 350px solid var(--first-color);
        border-left: 250px solid transparent;
    }
}
/* Medium devices */
@media screen and (max-width: 768px) {

    .do__title {
        font-size: var(--normal-font-size);
    }

    .do__subTitle {
        font-size: var(--medium-font-size);
        line-height: 2rem;
        padding: 0;
    }
  
    .home__info{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        padding: 0 2rem;
    }

    .img-left{
        border-top: 100px solid var(--first-color);
        border-right: 530px solid transparent;
    }
    
    .info__img-right{
        border-bottom: 100px solid var(--first-color);
        border-left: 530px solid transparent;
    }
  
}
  
@media screen and (max-width: 576px) {


    .img-left{
        border-top: 100px solid var(--first-color);
        border-right: 430px solid transparent;
    }
    
    .info__img-right{
        border-bottom: 100px solid var(--first-color);
        border-left: 430px solid transparent;
    }

    .technologies__content{
        grid-template-columns: repeat(1, 1fr);
    }

}

/* Small devices */
@media screen and (max-width: 370px) {
    .img-left{
        border-top: 100px solid var(--first-color);
        border-right: 230px solid transparent;
    }
    
    .info__img-right{
        border-bottom: 100px solid var(--first-color);
        border-left: 230px solid transparent;
    }
}