.footer{
    margin-top: 3rem;
}

.footer__content {
    background-color: var(--first-color-dark);
    padding: 2rem 4rem;
    grid-template-areas:
            "sidebar main header"
            "sidebar main header"
            "sidebar footer header";
}

.footer__content-item{
    color: var(--title-color-white);
}

.footer__item-title{
    color: var(--title-color-white);
    font-weight: var(--font-semi-bold);
    font-size: var(--medium-font-size);
    margin-bottom: 1rem;
}

.footer__item-text{
    padding: 1rem 0;
    font-size: var(--small-font-size);
}

.footer__item-span{
    font-weight: var(--font-bold);
}

.footer__ul{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.footer__ul-a{
    color: var(--title-color-white);
    font-size: var(--small-font-size);
}

.footer__ul-li a:hover {
    color: var(--text-color-white-dark);
}

.footer__item-form{
    width: 80%;
    display: flex;
}

.footer__item-input{
    width: 70%;
    padding: 0 .5rem;
    border: 0;
}

.footer__item-button{
    width: 30%;
    padding: .5rem 1rem;
    background-color: var(--first-color-ligth);
    color: var(--text-color-white);
    font-weight: var(--font-semi-bold);
    font-size: var(--normal-font-size);
}
.footer__nav-li{
    margin: .5rem 0;
}

.footer__nav-a{
    font-size: var(--medium-font-size);
}

.footer__item-1{
    grid-area: sidebar;
    border-right: 1px solid var(--text-color-white);
}

.footer__item-2{
    grid-area: main;
    border-right: 1px solid var(--text-color-white);
}

.footer__item-3{
    grid-area: footer;
    
}

.footer__item-4{
    grid-area: header;
}

/* ======== Break points ======== */
/* Large devices */
@media screen and (max-width: 992px) {
    .footer__content{
        padding: 2rem 2rem;
    }
}
/* Medium devices */
@media screen and (max-width: 768px) {

    .footer__item-form{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer__item-input{
        width: 100%;
        padding: .2rem;
    }

    .footer__item-button{
        width: 100%;
        padding: .5rem 1.5rem;
        font-size: var(--small-font-size);
    }

}

@media screen and (max-width: 576px) {

    .footer__content-item{
        border-right: 1px solid var(--text-color-white);
    }

    .footer__content {
        background-color: var(--first-color-dark);
        padding: 2rem 4rem;
        grid-template-areas:
                "sidebar sidebar"
                "header header"
                "main main"
                "footer footer";
    }
}
/* Small devices */
@media screen and (max-width: 350px) {

}