.header{
    height: 100vh;
    background-color: #004687;
}

.nav{
    height: calc(var( --header-height ) + 2.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    
}

.nav__logo,
.nav__toggle{
    color: var(--title-color-white);
    font-weight: var(--font-medium);
}

.nav__logo{
    font-size: 2rem;
    color: var(--title-color-white);
    padding-top: 2rem;
}

.nav__list{
    display: flex;
    column-gap: 2rem;
}

.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--normal-font-size);
    color: var(--text-color-white);
    font-weight: var(--font-semi-bold);
    transition: .3s;
}


.nav__icon,
.nav__close,
.nav__toggle{
    display: none;
}

.hero{
    height: 30rem;
    padding-top: 5rem;
    margin-left: 10rem;
}

.hero__title{
    display: block;
    color: var(--text-color-white);
    font-size: 3.5rem;
    font-weight: var(--font-bold);
}

.hero__subtitle {
    display: block;
    width: 30rem;
    margin-bottom: 2rem;
    color: var(--text-color-white);
    font-size: 2.5rem;
    font-weight: var(--font-semi-bold);
    line-height: 3.5rem;
}


/*Active link*/
.active__link{
    color: #004687;
}
.nav__link:hover{
    color: var(--text-color-white-dark);
}

/* ======== Break points ======== */

/* Medium devices */
@media screen and (max-width: 768px) {
    .header{
        top: initial;
    }

    .nav{
        height: var(--header-height);
    }

    .nav__menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }

    /* Show menu */
    .show-menu{
        bottom: 0;
    }

    .nav__list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .nav__link{
        color: var(--text-color);
    }

    .nav__icon{
        font-size: 1.5rem;
    }

    .nav__close{
        position: absolute;
        right: 1.5rem;
        bottom: 1rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--title-color);
    }

    .nav__close:hover{
        color: var(--title-color-dark);
    }

    .nav__toggle{
        font-size: 1.1rem;
        cursor: pointer;
    }

    .nav__icon,
    .nav__close,
    .nav__toggle{
        display: block;
    }

    .nav__toggle-open{
        position: fixed;
        right: 2rem;
        top: 2rem;
    }

    .nav__close{
        position: absolute;
    }

    .hero{
        padding: 2rem; 
        height: 100%;
    }

    .hero__subtitle{
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .hero{
        margin-left: 0;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .hero__title{
        text-align: center;
        width: 100%;
    }

}

/* Small devices */
@media screen and (max-width: 350px) {
    
    
    
    .nav__list{
        column-gap: 0;
    }
}

